
.scrollView {
  background-color: lighter;
}
.engine {
  position: 'absolute';
  right: 0;
}
.body {
  background-color: white;
}
.sectionContainer {
  margin-top: 32;
  padding-left: 24;
  padding-right: 24;
}
.sectionTitle {
  font-size: 24;
  font-weight: '600';
  color: black;
}
.sectionDescription {
  margin-top: 8;
  font-size: 18;
  font-weight: '400';
  color: grey;
}
.highlight {
  font-weight: '700';
}
.footer {
  color: grey;
  font-size: 12;
  font-weight: '600';
  padding: 4;
  padding-right: 12;
  text-align: 'right';
}